.objava {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.objava__slika>img {
    width: 100%;
}

.objava__vrh {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.objava__avatar {
    margin-right: 10px;
}

.objava__vrhInfo>h3 {
    font-size: medium;
}

.objava__vrhInfo>p {
    font-size: small;
    color: gray;
}

.objava__dno {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.objava__dugmad {
    
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 5px;

}

.objava__dugme {
    /* display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    float: 1; */

    padding: 15px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 0px 30px;
}

.objava__dugme>p {
    margin-left: 10px;
}

.objava__dugme:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}

.objava__dugme:hover>p {
    color: #2e81f4;
}

.objava__dugme:hover>.MuiSvgIcon-root {
    color: #2e81f4;
}