.postavi {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.postavi__vrh {
    display: flex;
    border-bottom:  1px solid #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
}

.postavi__vrh>form {
    flex: 1;
    display: flex;
}

.postavi__vrh>form>input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}


.postavi__fajl {
    width: 20%;
}

.postavi__vrh>form>button {
    display: none;
    height: 0;
    width: 0;
    background-color: transparent;
    color: transparent;
    border: none;
}

.postavi__unos {
    flex: 1;
}

.postavi__dno {
    display: flex;
    justify-content: space-evenly;
}

.postavi__dugme {
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.postavi__dugme>h3 {
    font-size: medium;
    margin-left: 10px;
}

.postavi__dugme:hover {
    background-color: #eff2f5;
    border-radius: 20px;
}