.glavniDiv {
  z-index: 1;
  display: grid;
  width: 100%;
}

.divDialogFotografijaSlika>img{
  width: 70%;
}
  

.gornjiDeo {
  display: grid;
  z-index: 1;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.divBeo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.divListe {
  display: flex;
  justify-content: center;
}

.naslovnaSlika {
  display: flex;
  width: 900px;
  height: 360px;
  border-radius: 10px;
}

.naslovnaSlika:hover {
  filter: grayscale(0.5);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .naslovnaSlika {
    width: 100%;
  }
}

.profilnaSlika {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.profilnaSlika:hover {
  filter: grayscale(0.5);
  cursor: pointer;
}

.korisnickoIme {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.meniLevo {
  list-style: none;
  display: flex;
  align-items: center;
}
.meniLevo > li {
  display: flex;
  align-items: center;
  margin-left: 20px;
  float: left;
  font: 17px Tahoma;
  padding: 15px;
  border-radius: 5px;
}

.meniLevo > .aktivanLi {
  color: #1877f2;
  border-bottom: 3px solid #1877f2;
  border-radius: 0px;
  cursor: pointer;
}

.meniLevo > .li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.meniLevo > li::selection {
  border-bottom: 1px solid #1877f2;
  color: #1877f2;
}

.meniDesno {
  list-style: none;
  display: flex;
  align-items: center;
}
.meniDesno > li {
  display: flex;
  align-items: center;
  margin-left: 20px;
  float: left;
  font: 17px Tahoma;
  padding: 8px;
  border-radius: 5px;
}

.meniDesno > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.meniDesno > li::selection {
  border-bottom: 1px solid #1877f2;
  color: #1877f2;
}

.hide{
  display: none;
}

.meniDesno > .pricaLi {
  margin-left: 45px;
  border-radius: 5px;
  background-color: #1877f2;
  color: white;
}

.meniDesno > .pricaLi:hover {
  background-color: #1366d3;
}

.meniDesno > .izmenaLi {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.meniDesno > .izmenaLi:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.meniDesno > .tackiceLi {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.meniDesno > .tackiceLi:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.neaktivno {
  display: none;
}
