.divDoleObjave {
  background-color: #f2f3f5;
}

.sakrij{
  display: none !important;
}

.divTabovi {
  display: grid;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 40% auto;
  grid-template-areas: "uvod status" "uvod objavaTab" "fotografije objave" "prijatelji objave" "nista objave";
}

.divUvod {
  background-color: white;
  border-radius: 10px;
  grid-area: uvod;
  width: 95%;
  margin-top: 15px;
  box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);

  /* margin-right: 270px;
    margin-top: 10px;*/
}

.divUvod > h1 {
  margin-left: 15px;
  font: 22px Tahoma;
}

.listaUvod {
  margin-left: 12px;
}

.listaUvod > li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.lokacija {
  margin-right: 5px;
}

.skola {
  margin-right: 5px;
}

.posao {
  margin-right: 5px;
}

.izmena {
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 8px;
  margin-right: 10px;
  font: 16px Tahoma;
}

.izmena:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dodavanje {
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 20px;
  font: 16px Tahoma;
}

.dodavanje:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.fotografije {
  background-color: white;
  border-radius: 10px;
  grid-area: fotografije;
  width: 95%;
  margin-top: 15px;
  box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);
}

.fotografije > h1 {
  margin-left: 15px;
  font: 22px Tahoma;
}

.fotografije > h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.razmisljanje {
  background-color: white;
  grid-area: status;
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);
  display: grid;
  align-items: center;
}

.noviStatus {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.noviStatus > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
  background-color: #eff2f5;
  padding: 12px;
  padding-right: 55%;
  border-radius: 50px;
}

.razmisljanjeDonjiDeo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cccccc;
}

.kamera {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
}

.kamera:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.fotoVideo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 10px 10px 0px;
}

.fotoVideo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.kamera > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
}

.fotoVideo > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
}

.objaveOpcije {
  display: grid;
  background-color: white;
  grid-area: objavaTab;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);
}



.objaveGornjiDeo {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.objaveGornjiDeo > h1 {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font: 20px Tahoma;
  padding: 0px;
}

.filteri {
  margin-left: 25%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.filteri:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.filteri > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
}

.upravljanje {
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.upravljanje:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.upravljanje > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
}

.objaveDonjiDeo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #cccccc;
}

.prikazUViduListe {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px 0px 5px 5px;
}

.prikazUViduListe:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.prikazUViduMreze {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
}

.prikazUViduListe::selection {
  border-bottom: 1px solid #1877f2;
  color: #1877f2;
}

.prikazUViduMreze:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.prikazUViduMreze::selection {
  border-bottom: 1px solid #1877f2;
  color: #1877f2;
}

.prikazUViduListe > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
}

.prikazUViduMreze > h1 {
  margin-left: 5px;
  font: 16px Tahoma;
}

.gridPrijatelji {
  background-color: white;
  border-radius: 10px;
  grid-area: prijatelji;
  width: 95%;
  margin-top: 15px;
  box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);
}

.gridPrijatelji > h1 {
  padding-top: 10px;
  margin-left: 15px;
  font: 22px Tahoma;
}

.gridPrijatelji > h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.objave {
  background-color: white;
  border-radius: 10px;
  grid-area: objave;
  width: 95%;
  margin-top: 15px;
  box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);
}

.fotografijeDiv {
  display: grid;
  grid-template-columns: 33% 33% auto;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.divFotografija {
  margin-bottom: 3px;
}

.divFotografija > img:hover {
  cursor: pointer;
}

.divFotografija > img {
  border-radius: 10px;
  width: 95px;
  height: 95px;
}

.divPrijateljiUObjavama {
  background-color: white;
  display: grid;
  grid-template-columns: 33% 33% auto;
  margin-top: 10px;
  justify-items: center;
  margin: 0px 5px;
}

.divObjavePrijatelji {
  border-radius: 10px;
  margin: 3px 3px 3px 3px;
}

.divObjavePrijateljiSlika > img {
  width: 95px;
  height: 95px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.divObjavePrijateljiSlika>:hover{
  filter: grayscale(0.5);  
  cursor: pointer;
}

.divObjavePrijateljiIme {
  text-align: center;
}

.divObjavePrijateljiIme:hover{
  cursor: pointer;
  text-decoration: underline;
}

.naslovDialogaIzmena {
  border-bottom: 1px solid black;
}

.divDialogIzmena > h2 {
  font: bold 18px Tahoma;
}

.divDialogIzmena > h3 {
  font: 16px Tahoma;
  margin-top: 0px;
}

.divDialogFotografija {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-areas: "slika komentari";
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0px;
}

.divDialogFotografijaSlika {
  grid-area: slika;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divDialogFotografijaSlika > img {
  position: fixed;
  max-height: 100%;
}

.IskljuciDialogFotografija {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 101;
  color: white;
}

.IskljuciDialogFotografija:hover {
  cursor: pointer;
}

.divDialogFotografijaKomentari {
  grid-area: komentari;
}
