.friendsBarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.frirendsBarRow:hover {
    background: lightgray;
    border-radius: 10px;
}

.friendsBarRow>p {
    margin-left: 20px;
    font-weight: 600;
}